.main{
    box-sizing: border-box;
    width: 1204px;
    height: 100%;
}

/* header */

.header{
    width: 100%;
    height: 645px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    
}
.header_main{
    width: 1204px;
    height: 600px;
   
   
   
}

.header_main .main_img{
    width: 1204px;
    height: 600px;
    position: absolute;
    overflow: hidden;
}

.header_main .main_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    transition: transform 0.6s;
}

.header_main .main_img:hover img{
    transform: scale(1.3);
}


.titile-header{
    text-align: center;
    position: absolute;
    font-size: 25px;
    display: none;
    animation:  title 0.7s;
    cursor: pointer;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
   

}

.header_main .main_img:hover ~ .titile-header {
    display: block;
} 

/* title key */

@keyframes title {
    0%{ top: 400px;
    opacity: 0;
    color: white}

    25%{opacity: 2.5;
        color: white}

    50%{opacity: 0.5;
        color: white;
    }

    75%{opacity: 0.75;
        color: white}

    100%{opacity: 1;}
}

/* nav pc */

.nav-pc{
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    background-color: #014d92;
    display: flex;
    justify-content: center;
   
}

.list-nav-pc{
    display: flex;
    list-style-type: none;
    width: 600px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    
}

.list-nav-pc .item-nav-pc {
    width: 100%;
}

.list-nav-pc .item-nav-pc a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/* content */

.content{
  
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    
    
}

.selection-1{
    width: 800px;
    height: 400px;
    margin:20px auto;
    text-align: center;
    font-size: 17px;
    word-spacing: 5px;
    position: relative;

  
}

.introduce{
   position: absolute;
   top: 40%;
   transform: translateY(-40%);

}

.introduce_heading{
    margin-bottom: 20px;
}

.introduce_content{
    line-height: 25px;
}

/* selection-2 */

.selection-2{
    width: 100%;
    height: 980px;
    background-color: #f2f2f2;
    position: relative;
}

.main_selection-2{
    position: absolute;
    width: 1000px;
    height: auto;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
   

}

.title_selection-2{
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    font-weight: bold;
    word-spacing: 5px;
    
}

.grid_selection-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  
   
}

.item-selection{
    height: 400px;
    overflow: hidden;
    position: relative;
    
}

.item-selection:hover .hover_sp  {
    display: block;
}



.item-selection .img_item-selection{
    object-fit: cover;
    width: 550px;
    height: 400px;
    transition: all 0.5s;
   
   
    
}

.item-selection .img_item-selection:hover{
transform: scale(1.3);
opacity: 0.6;
}

.title_item-selection{
    padding-left: 20px;
    font-size: 30px;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 40px;
    
}

.hover_sp{
    color: rgb(15, 14, 14);
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    text-transform: inherit;
    top: 30%;
    left: 50%;
    
    
    transform: translateX(-50%);
    cursor: pointer;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #999;
    display: none;
    animation:  hoversp 0.6s;
   
   
   }

/* key  */

@keyframes hoversp{
    0%{ margin-top: 200px;
        opacity: 0;
       }
    
        25%{opacity: 2.5;
           }
    
        50%{opacity: 0.5;
            ;
        }
    
        75%{opacity: 0.75;
          }
    
        100%{opacity: 1;}
    }
